<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    {% include 'estilos.html'%}

</head>

<body>
    {% include 'menu.html' %}


    <div class="container mt-3">
        <h1>Agregar persona</h1>

        <fieldset>
            <legend>Datos Persona</legend>
            <form method="POST" action="/persona/guardarpersona/" class="mb-3">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">ID</label>
                    <input
                        name="idpersona"
                        value="{{idpersona}}"
                        readonly
                        type="text"
                        class="form-control"
                        id="txtidpais"
                        placeholder="ID Persona">
                </div>

                <div class="mb-3">
                    <label class="form-label">DNI</label>
                    <input
                        name="dnipersona"
                        value="{{objData.dnipersona}}"
                        type="text"
                        class="form-control"
                        id="txtdnipersona"
                        
                        placeholder="DNI">
                    
                        {% if 'dnipersona' in objetoErr %}
                        <p class="text-danger" style="padding-left: 10px;">{{objetoErr.dnipersona}}</p>
                        {% endif %}
                </div>

                <div class="mb-3">
                    <label class="form-label">Nombre(s)</label>
                    <input
                        value="{{objData.nombre}}"
                        name="nombrepersona"
                        type="text"
                        class="form-control"
                        id="txtnombrepersona"
                        placeholder="Nombre Persona"
                        >

                        {% if 'nombrepersona' in objetoErr %}
                        <p class="text-danger" style="padding-left: 10px;">{{objetoErr.nombrepersona}}</p>
                        {% endif %}
                </div>


                <div class="mb-3">
                    <label class="form-label">A. Paterno</label>
                    <input
                        value="{{objData.apaterno}}"
                        name="apaternopersona"
                        type="text"
                        class="form-control"
                        id="txtapaternopersona"
                        placeholder="Apellido Paterno"
                        >
                        {% if 'apaternopersona' in objetoErr %}
                        <p class="text-danger" style="padding-left: 10px;">{{objetoErr.apaternopersona}}</p>
                        {% endif %}
                </div>


                <div class="mb-3">
                    <label class="form-label">A. Materno</label>
                    <input
                        value="{{objData.amaterno}}"
                        name="amaternopersona"
                        type="text"
                        class="form-control"
                        id="txtamaternopersona"
                        placeholder="Apellido Materno">

                        {% if 'amaternopersona' in objetoErr %}
                        <p class="text-danger" style="padding-left: 10px;">{{objetoErr.amaternopersona}}</p>
                        {% endif %}
                </div>


                <div class="mb-3">
                    <label class="form-label">Fecha nacimiento</label>
                    <input
                        value="{{objData.fechanac}}"
                        name="fechanac"
                        type="date"
                        class="form-control"
                        id="txtfechanac"
                        placeholder="Fecha nacimiento">
                        
                        {% if 'fechanac' in objetoErr %}
                        <p class="text-danger" style="padding-left: 10px;">{{objetoErr.fechanac}}</p>
                        {% endif %}
                </div>

                <div class="mb-3">
                    <label class="form-label">Direccion</label>
                    <input
                        value="{{objData.direccion}}"
                        name="direccion"
                        type="text"
                        class="form-control"
                        id="txtdireccion"
                        placeholder="Direccion">
                </div>

                <div class="mb-3">
                    <label class="form-label">Telefono fijo</label>
                    <input
                        value="{{objData.telfijo}}"
                        name="telfijo"
                        type="text"
                        class="form-control"
                        id="txttelfijo"
                        placeholder="Telefono Fijo">
                </div>

                <div class="mb-3">
                    <label class="form-label">Telefono celular</label>
                    <input
                        value="{{objData.telcel}}"
                        name="telcel"
                        type="text"
                        class="form-control"
                        id="txttelcel"
                        placeholder="Telefono celular">
                </div>

                <div class="mb-3">
                    <label class="form-label">Seleccione Sexo</label>

                    <select name="idsexo" class="form-control">
                        <option value="0">
                            --Seleccione--
                        </option>

                        {% for sexo in listaSexo %}
                            {% if sexo.IDSEXO == objData.idsexo %}
                            <option value="{{sexo.IDSEXO}}" selected>
                            {{sexo.NOMBRE}}
                             </option>
                            
                            {% else %}


                        <option value="{{sexo.IDSEXO}}">
                            {{sexo.NOMBRE}}
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select>

                    {% if 'idsexo' in objetoErr %}
                    <p class="text-danger" style="padding-left: 10px;">{{objetoErr.idsexo}}</p>
                    {% endif %}
                </div>




                <div class="mb-3">
                    <input type="submit" class="btn btn-success" value="Guardar">

                    <a class="btn btn-danger" href="/persona/listar/">Regresar</a>

                </div>
            </form>
            
            <button class="btn btn-secondary" onclick="NuevoPais()">Clear</button>

        </fieldset>

    </div>

    {% include 'scripts.html' %}
</body>

</html>