{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    {% include 'estilos.html' %}
</head>

<body>

    {%include 'menu.html'%}
    <h1>Usuarios</h1>

    <div class="mb-3 container mt-3">
        <a class="btn btn-secondary" href="/usuario/agregarusuario/">Nuevo</a>
    </div>

    {% include 'scripts.html' %}
    <script type="text/javascript" src="{% static 'js/usuario.js' %}"></script>
</body>

</html>