{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pag tipo USR</title>
    {% include 'estilos.html' %}
</head>

<body>
    {% include 'menu.html' %}

        <div class="input-group mb-3 container mt-3">
        
            <input type="hidden" id="txtidtipousr">
        
            <input readonly type="text" class="form-control" placeholder="Ingrese tipo usuario" aria-label="Recipient's username"
                aria-describedby="button-addon2" id="txtnombre">
        
            <button class="btn btn-outline-primary" onclick="abrirModalBuscar()" type="button" id="button-select"
                data-bs-toggle="modal" data-bs-target="#exampleModal">Seleccione</button>
        
            <button class="btn btn-outline-primary" onclick="cleanTipoUsr()" type="button" id="button-clean">Limpiar</button>
        
        </div>



    <div class="container">
        <div id="divTabla"></div>
    </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel"></h5>

            </div>

            <div class="modal-body">

                <div id="divTablaSubpopup"></div>

            </div>
            <div class="modal-footer">
                <button onclick="cerrarModal()" id="bntCerrarModal" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancelar</button>
                <button onclick="guardarDatos()" type="button" class="btn btn-primary">Guardar</button>
            </div>

            <div id="divErrores"></div>

        </div>
    </div>

</div>

    {% include 'scripts.html' %}
    <script type="text/javascript" src="{% static 'js/pagtipousr.js' %}"></script>

</body>

</html>