{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--A los th que estan dentro de dataframe-->
    <style>
        .dataframe th {
            text-align: left;
        }
    </style>

    {% include 'estilos.html' %}

</head>

<body>
    {%include 'menu.html'%}
    <h1>Tipo Cine</h1>
    <div class="container mt-3"> <!--MarginTop 3-->

        <form method="POST" class="input-group mb-3" action="/tipocine/buscartipocine/">
            {% csrf_token %}
            <input type="text" class="form-control"
                placeholder="Ingrese tipo cine"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
                name="ntipocine"
                value="{{ntipocine}}">
            <button class="btn btn-outline-primary" type="submit" id="button-addon2">Buscar</button>
        </form>

        <div class="container">
            {{lista | safe}}
        </div>
    </div>
    {% include 'scripts.html' %}

    <!--<script>
            window.onload=function(){
                var elemento=document.querySelectorAll(".dataframe")
                for (var i=0;i<elemento.length;i++) {
                    elemento[i].classList.add("table")
                }
            }
        </script>-->
</body>



</html>