{% load static %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script> <!--datatable necesita JQUERY, por eso se importa antes-->
<script type="text/javascript" src="{% static 'js/datatable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqueryui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sweetalert2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>

<script type="text/javascript" src="{% static 'js/generic.js' %}"></script>

<!--Las llamadas son linea por linea, importa el orden, el generic usa el
jqueryui.js por eso tiene que llemarse antes-->

